node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
.idea/
components.d.ts
styles/img/basic.jpg~
styles/img/bg.jpg~
styles/img/bg.kra
styles/img/bg.kra~
styles/img/code.jpg~
styles/img/cover.jpg~
styles/img/dark.jpg~
styles/img/logo.svg
styles/img/statement.jpg~
styles/img/фон_16х9-02.jpg~
styles/img/фон_16х9-05.jpg~
styles/img/фон_16х9-08.jpg~
styles/img/фон_16х9-09 (1).jpg~
.vscode/extensions.json
images/image-1.png
images/image-1.png~
images/image-2.png
images/image-2.png~
images/image-3.png
images/image-4.png
images/image-4.png~
images/image-5.png
images/image-5.png~
images/image-6.png
images/image-6.png~
images/image-7.png
images/image-7.png~
images/image-8.png
images/image-8.png~
images/image-9.png
images/image-9.png~
images/image-10.png
images/image-11.png
images/image-11.png~
images/image.png
images/scheme.drawio.png
package-lock.json
package-lock.json
